@import "tailwindcss";

@theme inline {
  --color-primary: hsl(0 75% 38%);
  --color-accent: hsl(25 90% 55%);
}

body {
  background-color: #fafafa;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media (max-width: 900px) {
  .menu-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto !important;
  }
}
